<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading,
  .lead {
    color: #fff;
  }
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/qap_logo.png" />
  <p class="jumbotron-heading">{{site.author}}</p>

  <p class="lead" id="typewriteText"></p>
  <span>
    {%- include github_star_button.html -%}
    {%- include github_fork_button.html -%}
  </span>
  <!-- uncomment/modify buttons as you want-->
  <div class="jumbotron-btns">
    <a href="https://github.com/qa-at-the-point/base/blob/main/CONTRIBUTING.md">
      <button class="btn btn-md btn-warning"> <strong>Contribute</strong> </button>
    </a>
    <a href="https://www.meetup.com/QA-at-the-Point/">
      <button class="btn btn-md btn-default"> <strong>Upcoming Events</strong> </button>
    </a>
  </div>
</div>
